<h1>New bookmark</h1>

<div>
  <%= simple_form_for @bookmark do |f| %>
    <%= f.input :name %>
    <%= f.association :list %>
    <%= f.association :movie %>
    <%= f.button :submit %>
  <% end %>
</div>
